## .NET
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates

## Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
build/
bake-temp/

## NuGet
*.nupkg
*.snupkg
.nuget/
**/[Pp]ackages/*

## Visual Studio
.vs/
*.rsuser
*.sln.docstates
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user

## Rider
.idea/

## VS Code
.vscode/

## OS files
Thumbs.db
ehthumbs.db
Desktop.ini
.DS_Store
